@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');

.outside-page-application {
    background-color: #d2d2d2;
    padding: 60px;
    height: 100vh;
    font-family: 'Inter', sans-serif;
}

.outside-page-application .page-application {
    background-color: #AB9AC1;
    height: 100%;
    opacity: 0;
    animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


.outside-page-application .page-application .header {
    text-align: center;
    margin-bottom: 10px;
}

.outside-page-application .page-application .form-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    margin-left: 20px;
}

.outside-page-application .page-application .form-grid label {
    font-size: 1.5rem;
}

.outside-page-application .page-application .form-grid .name-email-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.outside-page-application .page-application .form-grid .city-pincode-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.outside-page-application .page-application .form-grid .address-grid {
    display: grid;
    grid-template-columns: 1fr;
}

.outside-page-application .page-application .form-grid .date-role-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.outside-page-application .page-application .form-grid .file-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.outside-page-application .page-application .form-grid input[type="text"],
.form-grid input[type="email"],
.form-grid input[type="date"],
.form-grid select,
.form-grid input[type="file"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.outside-page-application .page-application .form-grid label {
    font-weight: bold;
}

.outside-page-application .page-application .form-grid button {
    width: 80%;
    padding: 10px;
    background-color: #1b52df;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10%;
    transition: background-color 0.3s ease;
}

.outside-page-application .page-application .form-grid button:hover {
    background-color: #1541b0;
}

.outside-page-application .page-application .form-grid button:active {
    background-color: #0d317a;
}

.outside-page-application .page-application .form-grid input[type="file"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
}

.outside-page-application .page-application .form-grid input[type="file"]:focus {
    outline: none;
}