
@import url('https://fonts.googleapis.com/css2?family=Goldman&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sen:wght@500&display=swap');

.container-homepage {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f0f7;
  padding: 8rem 10rem;
}

.container-homepage .main-div {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding-left: 5rem;
  padding-right: 3rem;
  position: relative;
  border-radius: 0.8rem;
}

.container-homepage .main-div .content-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.container-homepage .main-div .header-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.container-homepage .main-div .header-div img {
  height: 200px;
  width: 200px;
}

.container-homepage .main-div .header-div .logo-img {
  height: 29vh;
  object-fit: fill;
  position: relative;
}

.container-homepage .main-div .header-div .login-button {
  font-family: 'Outfit', sans-serif;
  padding: 13px 30px;
  font-size: 1.5rem;
  text-decoration: none;
  color: blue;
  background-color: #f7f7f7;
  border: 2px solid blue;
  border-radius: 70px;
  transition: all 0.3s ease;
  text-align: center;
  margin-left: 700px;
  margin-right: 1.2rem;
}

.container-homepage .main-div .header-div .login-button:hover {
  background-color: blue;
  color: white;
}

.container-homepage .main-div .header-div .login-button:active {
  background-color: darkblue;
  border-color: darkblue;

}

.container-homepage .main-div .content-wrapper .main-slider img {
  height: 500px;
  width: 720px;
}

.container-homepage .main-div .content-wrapper .main-content h1 {
  font-family: 'Goldman', sans-serif;
  font-size: 3rem;
  margin: 0%;
}

.container-homepage .main-div .content-wrapper .main-content h3 {
  color: orangered;
  font-size: 3rem;
  margin-bottom: 1.2rem;
  font-family: 'Sen',sans-serif;
}

.container-homepage .main-div .content-wrapper .main-content h4 {
  text-align: left;
  color: rgb(152, 45, 6);
  font-size: 1.2rem;
  margin-bottom: 2rem;
  margin-left: 1.2rem;
}

.main-content .apply {
  display: flex;
  align-items: flex-end;
  background-color: #f7f7f7;
  border-radius: 70px;
  justify-content: space-around;
  padding: 13px 3px;
  width: 176px;
  margin-bottom: 2rem;
  box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  text-align: center;
}

.main-content .apply .apply-button-wrapper {
  padding: 6px 3px;
  width: 176px;
}

.main-content .apply-button-wrapper .apply-text {
  color: black;
  font-family: "Outfit";
  font-size: 25px;
  font-weight: 400;
  text-align: center;
}

.main-content .apply:hover {
  box-shadow: 8px 8px 20px 0 rgba(0, 0, 0, 0.3);
}

.main-content .apply:active {
  box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.3);
}

.main-content .apply .apply-button {
  color: black;
  font-family: "Outfit";
  font-size: 25px;
  font-weight: 400;
  text-align: center;
  width: fit-content;
  text-decoration: none;
}

.ellipse-1 {
  background-color: #40f8ff;
  border-radius: 15px;
  height: 30px;
  left: 650px;
  position: absolute;
  top: 230px;
  width: 30px;
}

.ellipse-2 {
  background-color: #279DFF;
  border-radius: 11px;
  height: 22px;
  left: 600px;
  position: absolute;
  top: 185px;
  width: 22px;
}
.ellipse-3 {
  background-color: #0C3569;
  border-radius: 25px;
  height: 45px;
  left: 1100px;
  position: absolute;
  top: 625px;
  width: 45px;
}

.effect- {
  height: 300px;
  width: 300px;
}
.effect-1 .blur-circle-1 {
  background-color: #7575d2b2;
  border-radius: 227px/282px;
  filter: blur(60px);
  height: 200px;
  left: -55px;
  position: fixed;
  top: -20px;
  width: 200px;
}
.effect-2 {
  height: 250px;
  width: 270px;
}

.effect-2 .blur-circle-2 {
  background-color: #96d4d5cc;
  border-radius: 135px/125px;
  filter: blur(90px);
  height: 250px;
  left: 1350px;
  position: fixed;
  top: 150px;
  width: 270px;
}
.effect-3 {
  height: 250px;
  width: 270px;
}
.blur-circle-3 {
  background-color: #FD7F3C;
  border-radius: 5rem;
  filter: blur(40px);
  height: 30px;
  left: 25px;
  position: absolute;
  top: 450px;
  width: 270px;
}
.container-homepage .main-div .d1{
  width: 220px;
  height: 200px;
  object-fit: fill;
  position: absolute;
  top:520px;
  left: 200px;
}
.container-homepage .main-div .d2{
  width: 180px;
  height: 150px;
  object-fit: 20% 0;
  position: absolute;
  top:570px;
  left: 240px;
}