@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300&display=swap');

.head-hr-view-applications-main-page {
    position: absolute;
    height: 100vh;
    width: 60%;
    background-color: #c4c4c4;
    top: 0;
    left: 228px;
    padding: 20px;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: 'Nunito Sans', sans-serif;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}

.head-hr-view-applications-main-page::-webkit-scrollbar {
    width: 8px;
}

.head-hr-view-applications-main-page::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.head-hr-view-applications-main-page::-webkit-scrollbar-track {
    background-color: transparent;
}

.head-hr-view-applications-main-page .applications-header {
    color: #a303a0;
}

.head-hr-view-applications-main-page .outer-padding ul li {
    list-style-type: none;
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.head-hr-view-applications-main-page .outer-padding .candidate-photo img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
    top: 120px;
}

.head-hr-view-applications-main-page .outer-padding .candidate-info {
    flex: 1;
    margin-right: 20px;
    gap: 20px;
    position: relative;
    left: 20px;
    top: 5px;
}

.head-hr-view-applications-main-page .outer-padding .candidate-info p {
    margin-bottom: 8px;
}

.head-hr-view-applications-main-page .outer-padding .candidate-info .candidate-name {
    color: #490057;
    font-size: 1.5rem;
    font-weight: bold;
}

.head-hr-view-applications-main-page .outer-padding .candidate-info .candidate-email {
    color: #A303A0;
}

.head-hr-view-applications-main-page .outer-padding .candidate-info .candidate-position {
    color: black;
    font-weight: bold;
}

.head-hr-view-applications-main-page .outer-padding .candidate-info a {
    text-decoration: none;
    color: blue;
}

.head-hr-view-applications-main-page .outer-padding .buttons-container {
    display: flex;
    flex-direction: column;
}

.head-hr-view-applications-main-page .outer-padding .buttons-container button {
    margin-left: 10px;
    cursor: pointer;
    padding: 12px 30px;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    transition: box-shadow 0.3s ease;
    outline: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

.head-hr-view-applications-main-page .outer-padding .buttons-container button.approve {
    background-color: green;
    color: white;
}

.head-hr-view-applications-main-page .outer-padding .buttons-container button.reject {
    background-color: red;
    color: white;
    margin-top: 5px;
}

.head-hr-view-applications-main-page .outer-padding .buttons-container button:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3); /* Increase shadow on hover */
}

