.hr-view-ongoing-candidates {
    position: absolute;
    height: 100vh;
    width: 59%;
    left: 230px;
    top: 0;
    padding: 20px;
    background-color: #f1f1f1;
    overflow-y: auto;
}

.hr-view-ongoing-candidates .candidate-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    transition: all 0.3s ease;
}

.hr-view-ongoing-candidates .candidate-box:hover {
    background-color: #eaeaea;
}

.hr-view-ongoing-candidates .candidate-box .candidate-photo {
    position: relative;
    bottom: 10px;
}

.hr-view-ongoing-candidates .candidate-box .candidate-photo img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.hr-view-ongoing-candidates .candidate-box .candidate-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    left: 10px;
    top: 10px;
}

.hr-view-ongoing-candidates .candidate-box .candidate-info p {
    margin: 5px 0;
    font-size: 16px;
    color: #333;
}

.hr-view-ongoing-candidates .candidate-box .candidate-info p strong {
    font-weight: bold;
}

.hr-view-ongoing-candidates h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}